<div class="container-fluid">
   
    
    <div class="row">
        <div class="aside-bar col-md-2">
            <section>
                <form >

                    <div class="categories">
                        <span class="vertical-filter-head">CATEGORIES</span>
                        <ul class="categories-list">
                            <div *ngFor="let itemType of itemTypes">
                                <li class="category-item">
                                    <label class="category-label">
                                        <input type="checkbox" class="category-check"  (change)="child.onChange(itemType,$event,selectedPage)">
                                        {{itemType}}
                                    </label>
                                </li>
                            </div>
                        </ul>
                    </div>
                </form>
                <div class="price-slider-div">
                    <span class="vertical-filter-head">Price Range</span>
                    <div class="custom-ngx-slider">
                        <ngx-slider [(value)]="child.value"  (userChange)="child.OnSliderChange(value,highValue,selectedPage)" [(highValue)]="child.highValue" [options]="child.options"></ngx-slider>  
                      </div>
                </div>
            </section>
        </div>
        <div class="container col-md-10">
            <div class="row" >
                <div class="col-md-3" style=" padding:17px;">

                    <div class="btn" style="
                    background-color: transparent;
                    color: black;
                    text-align:center;
                    display:inline;
                    font-size: 13px;
                    ">{{1+child.selectedPage*10}}-{{(child.selectedPage*10)+child.currentResults}} of over {{child.totalResults}} results</div>
                </div>
                <div class="col-md-9" style="padding:17px;">
                    <form class="sortByFilter" [formGroup]="sortByForm" style="float: right">
                        <label for="sort">
                            Sort by:
                        </label>
                        <select class="sortByFilterSelect" formControlName="sortByFilter" (change)="child.onSortByFilter($event)" name="sort" id="sort">
                            
                            <option value="Low to High">Price: Low to High</option>
                            <option value="High to Low">Price: High to Low</option>
                        </select>
                    </form>
                </div>
            </div>
         
            <app-items-child #child (PageSizeChange)="setPageSize($event)"></app-items-child>
            <div  class="row">
                <div class="page-div-count col-md-2 col-sm-2">
                        
                    <p style="display: inline">Page {{child.selectedPage+1}} of {{pageSize}}</p>
                </div>
                <div class="container col-md-10 col-sm-10 page-container">
                   
                    <ul class="pages-list">
                        <div class="page-div-item" *ngFor="let item of [].constructor(pageSize); let i = index">
                            
                            <li class="page-item"><a class="btn btn-link" (click)="child.page(i)">{{i+1}}</a></li>
                            
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
       
</div>