<div class="offset-lg-1 col-lg-10 offset-md-1 col-md-10">
<mat-tab-group  animationDuration="1000ms" mat-align-tabs="start" *ngIf="checkAuth.isUserLoggedIn()"  >
    <mat-tab label="Active Orders">
        <div class="col-lg-12 col-md-12 mt-2 ">
            <div class="col-lg-12 col-md-12" *ngIf="orders.length>0">
                <div class="row" *ngFor="let order of orders">
                    <div class="col-lg-3 border">
                        <img src="{{order.item.itemImage}}" class="p-3" />
                    </div>
                    <div class="col-lg-9">
                        <table class="table">
                            <tr>
                                <td><b>Order Id</b></td>
                                <td><b>{{order.orderId}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Product Name</b></td>
                                <td><b>{{order.item.itemName}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Quantity</b></td>
                                <td><b>{{order.quantity}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Delivery Status</b></td>
                                <td><b>{{order.deliveryStatus}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Delivery Address</b></td>
                                <td><b>{{order.deliveryAddress}}</b></td>
                            </tr>
                            <tr>
                                <td><b>DPayment Method</b></td>
                                <td><b>{{order.paymentMethod}}</b></td>
                            </tr>
                            <tr><td colspan="2" ><div *ngIf="order.enableToCancelOrder"><button class="btn btn-danger" (click)="openDialog(order)">Cancel Order</button><p class="text-info">You can Cancel this order before <b> {{order.canCancelOrderTill | date:'dd MMMM yyyy'}}</b></p></div></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="orders.length<=0">
                <h1>No Orders Found...</h1>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cancelled Orders">
        <div class="col-lg-12 col-md-12 mt-2 ">
            <div class="col-lg-12 col-md-12" *ngIf="cancelledOrders.length>0">
                <div class="row" *ngFor="let order of cancelledOrders">
                    <div class="col-lg-3 border">
                        <img src="{{order.item.itemImage}}" class="p-3" />
                    </div>
                    <div class="col-lg-9">
                        <table class="table">
                            <tr>
                                <td><b>Order Id</b></td>
                                <td><b>{{order.orderId}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Product Name</b></td>
                                <td><b>{{order.item.itemName}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Quantity</b></td>
                                <td><b>{{order.quantity}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Delivery Status</b></td>
                                <td><b>{{order.deliveryStatus}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Delivery Address</b></td>
                                <td><b>{{order.deliveryAddress}}</b></td>
                            </tr>
                            <tr>
                                <td><b>DPayment Method</b></td>
                                <td><b>{{order.paymentMethod}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="orders.length<=0">
                <h1>No Orders Found...</h1>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
</div>
