<div class="container regForm">
    <div class="card  col-sm-6 col-md-12">
      <div class="card-title m-auto">
  
        <h3>Reset Password</h3>
      </div>
      <div class="card-content">
        <form [formGroup]="regForm">
  
            <div class="form-group col-sm-12 col-md-12">
              <label for="inputPassword">Password
                <!-- <div style="display: inline;" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                  <span [hidden]="!f.password.errors.required" class="error"> [required]</span>
                </div> -->
              </label>
  
              <input type="password" class="form-control" [type]="hide ? 'password' : 'text'"  maxlength=16 placeholder="Enter your password" formControlName="password" required >
              <span (click)="hide = !hide">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!hide"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="hide"></i>
              </span>
  
  
              <label [ngClass]="regForm.controls['password'].hasError('required') ||
                  regForm.controls['password'].hasError('minlength') ? 'error-label text-danger' :
    'error-label text-success'">
                <i class="material-icons">
                  {{ regForm.controls['password'].hasError('required') ||
                  regForm.controls['password'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}
                </i>
                Must be at least 8 characters!
              </label>
              <label [ngClass]=" regForm.controls['password'].hasError('required') ||
                  regForm.controls['password'].hasError('pattern') ? 'error-label text-danger' :
    'error-label text-success'">
                <i class="material-icons">
                  {{ regForm.controls['password'].hasError('required') ||
                  regForm.controls['password'].hasError('pattern') ? 'cancel' :
                  'check_circle' }}
                </i>
                include atleast 1 Capital letter,1 digit,1 special Character(#,@)!
              </label>
  
              <!-- <div  *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                    <span style="display: block;" [hidden]="!f.password.errors.minlength" class="error"> [should contain 8 to 16 letters]</span>
  
                    <span [hidden]="!f.password.errors.pattern" class="error"> [include atleast 1 Capital letter,1 digit,1 special Character(#,@)]</span>
                </div> -->
            </div>
  <!-- Password Field -->
  <div class="form-group col-sm-12 col-md-12">
    <label for="inputConfirmPassword">Confirm Password
      </label>
    <input type="password" class="form-control" [type]="hide1 ? 'password' : 'text'" maxlength=16 placeholder="Enter your password" formControlName="confirmPassword" required />
    <span (click)="hide1 = !hide1">
      <i class="fa fa-eye" aria-hidden="true" *ngIf="!hide1"></i>
      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="hide1"></i>
    </span>
    <label [ngClass]=" regForm.controls['confirmPassword'].hasError('required') ||
    regForm.controls['confirmPassword'].invalid ? 'error-label text-danger' :
  'error-label text-success'">
  <i class="material-icons">
    {{ regForm.controls['confirmPassword'].hasError('required') ||
    regForm.controls['confirmPassword'].invalid ? 'cancel' :
    'check_circle' }}
  </i>
   Password Must Match!
  </label>
  </div>
          <button type="submit" class="btn m-auto col-sm-3 col-md-3" (click)="onSubmit()" routerLink="/login" >Submit</button>
         <!-- [disabled]="!regForm.valid"-->
        </form>
      </div>
    </div>
  
  </div>
  