img {
    float: center;
    max-width: 100%;
    min-width: 5%;
 
}
.cart{
  
  height: 85vh;
}
.cart-btn-transform{
  color:white;
  background-color:#ee5f73;
  border-color:#ee5f73
}

.btn-ctrl{
border-radius: 75px;
  
}
.minus{
    color: black;
}
.btn-ctrl-minus{

   
    border-color:black;
}

.btn-ctrl-minus:hover{

    background-color: #ccc;
    border-color:black;
}

.blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    20% {
      opacity: 0.3;
    }
  }