img {
    float: center;
    max-width: 100%;
    min-width: 5%;
 
}
.btn-ctrl{
border-radius: 75px;
  
}
.minus{
    color: black;
}
.btn-ctrl-minus{

   
    border-color:black;
}

.btn-ctrl-minus:hover{

    background-color: #ccc;
    border-color:black;
}

.image-container{
    opacity:0.3;
}