<div *ngIf="numberOfItemsInCart==0">
    <h1>Looks like your cart is empty!!, lets add some items</h1>
</div>
<div class="offset-lg-9 col-lg-3 fixed-bottom " *ngIf="totalPrice>0">
    <div class="card  m-lg-5">
        <div class="card ">
            <button class="btn btn-outline-success" (click)="checkOut()">Check Out Here <br>
                <i class="material-icons"></i>Total Price - {{totalPrice}}</button>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12">
    <div  *ngFor="let cart of cartDetails" >
        <div class="row" *ngIf="cart.quantity>0">
        <img class="col-lg-3 col-md-5 p-5"  src="{{cart.item.itemImage}}" width="auto">
        <div class="col-lg-9 col-md-7 p-5">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{cart.item.itemName}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>Brand</td>
                            <td>{{cart.item.brand}}</td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>{{cart.item.model}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{cart.item.price}}</td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td><button class="btn btn-ctrl btn-ctrl-minus btn-outline-warning pl-5 pr-5" (click)="removeOneFromCart(cart)"><i class="material-icons minus">remove_circle_outline</i></button></td>
                            <td><button class="btn btn-default">{{cart.quantity}}</button></td>
                            <td ><button class="btn btn-ctrl btn-ctrl-plus btn-outline-success pl-5 pr-5" (click)="addToCart(cart)" *ngIf="!(cart.item.quanitity<=cart.quantity)" [disabled]="cart.item.quanitity<=cart.quantity"><i class="material-icons">add_circle_outline</i></button></td>
                        </tr>           
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td align="center"><button class="btn btn-outline-danger pl-5 pr-5" (click)="remove(cart)">Delete From Cart</button></td>
                        </tr>                        
                    </table>
                  
                </div>
                
            </div>
            <div class="blink_me text-info " *ngIf="cart.item.quanitity<cart.quantity"><p><b class="shadow-lg">*Selected Quantity Of The Item is Not Available In The Stock, Please Try By Reducing The Quantity.</b></p></div>
           
        </div>
    </div>
</div>
</div>