<div class="">
    <div class="" *ngFor="let item of cartDetails.item">
      
        <!-- <div *ngIf="cart.quantity>0" class="row p-5"> -->
    <div class="col-lg-3 col-md-1" >

        <img src="{{item.itemImage}}" width="300px">
        
    </div>
    <!--<div class="col-lg-9 col-md-9" >
       <table>
        <tr>
            <td><h5>{{cart.item.itemName}}</h5></td></tr>
           <tr>
               <td><table>
                <tr>
                    <td style="border:0px solid black">Brand</td>
                    <td style="border:0px solid black;padding:5px">:{{cart.item.brand}}</td>
                </tr>
                <tr>
                    <td style="border:0px solid black">Model</td>
                    <td style="border:0px solid black;padding:5px">:{{cart.item.model}}</td>
                </tr>
                   <tr>
                       <td style="border:0px solid black;padding:5px">Price</td>
                       <td style="border:0px solid black;padding:5px">:{{cart.item.price}}</td>
                   </tr>
                   
               </table></td>
           </tr>
           <tr>
               <td align="center"><table style="border:1px solid rgb(197, 195, 195)"><tr>
                   <td><button class="btn"><mat-icon>add_box</mat-icon></button></td>
                   <td>{{cart.quantity}}</td>
                   <td><button class="btn" ><mat-icon>remove</mat-icon></button></td>
               </tr></table></td>
           </tr>
           <tr><td><button class="btn btn-danger" >Remove</button></td></tr>
       </table>
        
    </div>
</div> -->
</div>
