<!-- Section: Sidebar -->
<section class="side-bar">

   <!-- Section: Categories -->
   <section>
 
     <h5>Categories</h5>
 
     <div class="text-muted small text-uppercase">
       <!-- <p class="mb-4">return to <a href="#!" class="card-link-secondary"><strong>Clothing, Shoes, Accessories</strong></a></p> -->
 
       <p class="mb-3"><a href="#!" class="card-link-secondary"></a></p>
       <p class="mb-3"><a href="#!" class="card-link-secondary">Tops, Tees & Blouses</a></p>
       <p class="mb-3"><a href="#!" class="card-link-secondary">Sweaters</a></p>
   
     </div>
 
   </section>
   <!-- Section: Categories -->
 
   <!-- Section: Filters -->
  
 </section>
 <!-- Section: Sidebar -->