<div class="container regForm">
    <div class="card  col-sm-6 col-md-12">
      <div class="card-title m-auto">
  
        <h3>Forgot Password</h3>
      </div>
      <div class="card-content">
        <form [formGroup]="regForm" >
  <!-- [formGroup]="regForm" (ngSubmit)="onSubmit()"-->
          <div class="form-row">
            <!-- <label>Please enter your registered email address and click the submit button.Then answer the security question if applicable.
  
            </label> -->
  
            <!-- Email Field -->
            <div class="form-group col-sm-12 col-md-12">
              <label for="inputEmail4">Registered Email Address
  
              </label>
              <input type="email" class="form-control" placeholder="Email address" formControlName="email" required />
  
            </div>
  
  
  
  
          </div>
  
          <div class="form-group">
            <label for="inputQuestions">Your Security Question</label>
          <select id="questions" formControlName="security_questions" placeholder="Select Your Question" name="questions">
            <option value="What primary school did you attend?">What primary school did you attend?</option>
            <option value="What is your favorite color?">What is your favorite color?</option>
            <option value="In which city were you born?">In which city were you born?</option>
            <option value="What is your grandmother's name?">What is your grandmother's name?</option>
          </select>
          </div>
          <div class="form-group">
            <label for="inputAnswer">Your Response</label>
            <input type="text" class="form-control" formControlName="security_answer" placeholder="Enter Security Answer" class="form-control" required />&nbsp;
  
          </div>
          <button type="submit" class="btn m-auto col-sm-3 col-md-3" [disabled]="!regForm.valid" (click)="onSubmit()">Submit</button>
         <!-- [disabled]="!regForm.valid"-->
        </form>
      </div>
    </div>
  
  </div>
  