ng-valid[required], .ng-valid.required {
    border-left: 1px red solid;
  }
  
  .regForm{
    padding-top:50px;
  }
  .card {
      margin: auto;
      padding: 1rem;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width:60em;
     display: flex;
     justify-content: center;
     align-items: centera
    }
    legend {
      border-bottom: 1px solid rgb(66, 69, 83);
      padding: 20px;
    }
    .btn {
      background-color: rgb(255, 63, 108);
      color: white;
     display: flex;
     justify-content: center;
      align-items: center;
  }
   .error{
     font-size: 12.5px;
     color:red
   }
    input:hover {
      border-color: rgb(255, 63, 108);
    }
   