<div class="col-lg-12 col-md-12" *ngIf="checkAuth.isUserLoggedIn()">
    <div class="offset-lg-2 col-lg-8 rounded border bgcolor">
        <h1 class="pb-2 pt-3 pl-3 pr-3" style="font-size: 07vh;"> {{userDetails.walletAmount | currency:"&#8377;"}}</h1>
        <p class="pl-3 pr-3 " style="font-size: 3vh;">Available Fassico Wallet Amount</p>
    </div>
    <br>
    <div class="offset-lg-2 col-lg-8 rounded border " *ngIf="transaction.length>0">
        <mat-tab-group animationDuration="1000ms" mat-align-tabs="start">
            <mat-tab label="All Transaction">
                <div class="col-md-12 col-lg-12">
                <div class="row">
                    <table class="table">
                        <tr>
                            <td align="center" class="th th-first"><b>Order Id</b></td>
                            <td align="center" class="th"><b>Date Of Transaction</b></td>
                            <td align="center" class="th"><b>Payment Method</b></td>
                            <td align="center" class="th"></td>
                            <td class="th th-last" align="center"><b>Amount</b></td>
                        </tr>
                        <tr *ngFor="let transaction of transaction">
                            <td align="center"  >{{transaction.order.orderId}}</td>
                            <td align="center" >{{transaction.dateOfTransaction | date:'dd MMMM yyyy'}}</td>
                            <td align="center">{{transaction.displayPaymentMethod}}</td>
                            <td align="center" class="text-danger" *ngIf="transaction.displaytransactionType===debit"><mat-icon style="transform: scale(2);"> call_missed_outgoing</mat-icon></td>
                            <td align="center" class="text-danger" *ngIf="transaction.displaytransactionType===debit"><b>-{{transaction.amount}}</b></td>
                            <td align="center" class="text-success" *ngIf="transaction.displaytransactionType===credit"><mat-icon style="transform: scale(2);"> call_missed</mat-icon></td>
                            <td align="center" class="text-success" *ngIf="transaction.displaytransactionType===credit"><b>+{{transaction.amount}}</b></td>
                        </tr>
                    </table>
                </div>
                </div>
            </mat-tab>
            <mat-tab label="Credited Transaction">
                <div class="col-md-12 col-lg-12">
                <div class="row">
                    <table class="table">
                        <tr>
                            <td align="center" class="th th-first"><b>Order Id</b></td>
                            <td align="center" class="th"><b>Date Of Transaction</b></td>
                            <td align="center" class="th"><b>Payment Method</b></td>
                            <td align="center" class="th"></td>
                            <td class="th th-last" align="center"><b>Amount</b></td>
                        </tr>
                        <tr *ngFor="let transaction of transaction">
                            <td align="center" *ngIf="transaction.displaytransactionType===credit">{{transaction.order.orderId}}</td>
                            <td align="center" *ngIf="transaction.displaytransactionType===credit">{{transaction.dateOfTransaction | date:'dd MMMM yyyy'}}</td>
                            <td align="center" *ngIf="transaction.displaytransactionType===credit">{{transaction.displayPaymentMethod}}</td>
                            <td align="center" class="text-success" *ngIf="transaction.displaytransactionType===credit"><mat-icon style="transform: scale(2);"> call_missed</mat-icon></td>
                            <td align="center" class="text-success" *ngIf="transaction.displaytransactionType===credit"><b>+{{transaction.amount}}</b></td>
                        </tr>
                    </table>
                </div>
                </div>
            </mat-tab>
            <mat-tab label="Debited Transaction">
                <div class="col-md-12 col-lg-12">
                <div class="row">
                    <table class="table">
                        <tr>
                            <td align="center" class="th th-first"><b>Order Id</b></td>
                            <td align="center" class="th"><b>Date Of Transaction</b></td>
                            <td align="center" class="th"><b>Payment Method</b></td>
                            <td align="center" class="th"></td>
                            <td class="th th-last" align="center"><b>Amount</b></td>
                        </tr>
                        <tr *ngFor="let transaction of transaction">
                            <td align="center" *ngIf="transaction.displaytransactionType===debit">{{transaction.order.orderId}}</td>
                            <td align="center" *ngIf="transaction.displaytransactionType===debit">{{transaction.dateOfTransaction | date:'dd MMMM yyyy'}}</td>
                            <td align="center" *ngIf="transaction.displaytransactionType===debit">{{transaction.displayPaymentMethod}}</td>
                            <td align="center" class="text-danger" *ngIf="transaction.displaytransactionType===debit"><mat-icon style="transform: scale(2);"> call_missed_outgoing</mat-icon></td>
                            <td align="center" class="text-danger" *ngIf="transaction.displaytransactionType===debit"><b>-{{transaction.amount}}</b></td>
                        </tr>
                    </table>
                </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="offset-lg-2 col-lg-8 rounded border " *ngIf="transaction.length<=0">
        No Previous Transaction Found...
    </div>
    </div>