
<div class="parent-div">
    <div class="img-div" >
      <img class="img-banner" src="assets/img/DK_Banner.webp" alt="hello">
    </div>
    <div class="img-div" >
      <img class="img-banner" src="assets/img/Crackling-Deals.webp" alt="hello">
    </div>
    <div class="row card-div">
        <div class="card col-md-4">
            <div class="card-content">
                <img class="img-card" routerLink="item/men/top wear" src="assets/img/CasualShirts.webp">
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-content">
                <img class="img-card" routerLink="item/men/top wear" src="assets/img/T-Shirts.webp">
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-content">
                <img class="img-card" routerLink="item/men/bottom wear" src="assets/img/Jeansuni.webp">
            </div>
        </div>
    </div>
</div>