.img-banner{
  max-width: 100%;
  min-width: 100%;
    
}
.card{
  border:none
}
.card-content{
  padding-left: 40px
}
.img-card{
  max-width: 100%;
  min-width: 50%;
}
.container-fluid{
  border: 1px solid #ccc;
}