.orders{
    display:flex;
    /* justify-content:center;
    align-items:center; */
    overflow-y: scroll;
    height:300px;
}
#orders-table{
   
    /* display:block; */
    border-collapse: collapse;
      
}
thead th {
    position: sticky;
    top: 0;
    background-color: #fff;

  }

